h2.page-title {
	margin-bottom: 30px;
	margin-top: 20px;
}

p{
	color:#efefef;
}

.venue-option {
	margin-bottom: 25px;
}

.venue-table table {
	margin-bottom: 30px;
}

@media screen and (min-width: 992px) {
	.form-check {
		margin-top: 12px;
	}
}

@media screen and (max-width: 991px) {
	.venue-option .form-check,
	.venue-option .form-control {
		margin-bottom: 15px;
	}
}